		<div class="alerts">
			<div class="alert" id="alert-js">
				<span class="alert-icon"><span class="badge unconfirmed">IMPORTANT</span></span>
				<span class="alert-text">This site requires JavaScript. If this page does not load, please try reloading.</span>
			</div>
		</div>