		<!-- FOOTER -->
		<footer>
			<p id="header">
				This is for informational purposes only, and does not represent the views of nor is affiliated with Discord Inc., nor any of its staff.
				<br>
				Made with &lt;3 by @<a href="<%- process.env.MAINTAINER_URL %>"><%- process.env.MAINTAINER_HANDLE %></a>.
			</p>
		</footer>