		<!-- HEADER -->
		<header>
			<a href="./" style="display:flex;"><div class="loader spin" id="header-loader" style="display:none;margin-right:.5em;font-size: 60%;"></div><h1>Discord Username Rollout Tracker</h1></a>
			<label class="switch">
				<input type="checkbox" id="themeToggle">
				<span class="slider round"></span>
				<span class="switch-label">Toggle Theme</span>
				<span class="button gradient3">Toggle Theme</span>
			</label>
		</header>
